/* Formatação padrão para todas as páginas
-Usar no body as classes "fundo-primaria e texto"
-Criar uma div que vai englobar todas as outras com a classe "fundo-cinza"
Assim já temos o texto padrão e o background de grande parte das páginas */

.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texto {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1B1B1B;
}

.texto-primaria {
    color: #14471E;
}

.texto-secundaria {
    color: #DA6A00;
}

.texto-branco {
    color: white;
}

.fundo-cinza {
    background-color: #F6F6F6;
    width: 100%;
    min-height: 100vh;
    max-height: 300vh;
    padding: 10px;
    border-radius: 0 300px 0 0;
    z-index: -1;
}

.fundo-padrao {
    background-color: #e9e9e9;
}

.fundo-primaria {
    background-color: #14471E;
}

.fundo-secundario {
    background-color: #DA6A00 ;
}

.fundo-foto {
    width: 100%;
    height: 80vh;
    position: fixed;
    z-index: -1;
}

.logo {
    width: 400px;
    padding-top: 26vh;
    
}

.return {
    width: fit-content;
}

.return:hover {
    cursor: pointer;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.btn-laranja {
    color: white;
    background-color: #DA6A00;
    border-color: #DA6A00;
}

.btn-vermelho {
    color: white;
    background-color: #DA0D00;
    border-color: #DA0D00;
}

/* Classes para o blog */

.corpo {
    margin: 60px;
}
.filter {
    align-items: center;
}

.filter .form-control, .filter .form-select {
    height: 50px;
}

.filter .tag {
    width: 200px;
}

.filter .form-label {
    width: 25%;
}

.noticias a {
    color: #DA6A00;
}

.noticias a:hover {
    text-decoration: underline;
}

/* Classes tela de inicio */

.fundo-primaria-2 {
    background-color: #14471E;
    position: fixed;
    bottom: 0;
    height: 35vh;
    width: 100%;
}

.fundo-cinza-2 {
    background-color: #F6F6F6;
    height: 100%;
    border-radius: 0 300px 0 300px;
}

.btn-verde {
    background-color: #14471E;
    color: white;
}

.btn-outline-verde {
    color: #14471E;
    background-color: #F6F6F6;
    border-color: #14471E;
}

.btn-outline-verde:hover {
    background-color: #e9e9e9;
}

.fundo-cinza-2 button {
    width: 150px;
    margin-bottom: 10px;
}

.fundo-cinza-2 .buttons {
    padding: 10vh;
}

.fundo-cinza-2 .buttons a {
    text-decoration: none;
}

/* Classes telas principais */

.container .row .fundo-primaria:hover {
    background-color: #DA6A00;
}
